body{
  font-family: sans-serif;
  background-color: white;
  margin: 0;
  color: #303447;
}

  .sideways{
  color: black;
  transform: rotate(90deg);
  margin-left: -70px;
  margin-top: 145px;
  position: fixed;
  z-index: -1;
  font-size: 25px;
}

#button-link{
  color: white;
  
}
button:hover{
  background-color: darkblue;
  transform: scale(0.9);
}

.favicon{
  fill: white;
}
  

#header{
  z-index: 2;
  position: fixed;
  top: -1px;
  width: 100vw;
  height: 30px;
  padding: 5px 4px 11px 8px;
  text-align: center;
  display: flex;
  background-color: white;
  justify-content: space-around;
}

.links:visited{
  color: black;
  text-decoration: none;
  background-color: #ffce47;
}
.links{
  text-decoration: none;
  padding: 10px;
  margin-bottom: -6px;
  color: black;
  text-transform: uppercase;
}

.links:hover{
  color: white;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
}

#h2-1{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
    /*background: linear-gradient(80deg, yellow, darkgreen);
-webkit-background-clip: text;
color: transparent;*/
  color: black
}

#h2-2{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
   /*background: linear-gradient(80deg, yellow, darkgreen);
-webkit-background-clip: text;
color: transparent;*/
  color: black
}

#h2-3{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
   /*background: linear-gradient(80deg, yellow, darkgreen);
-webkit-background-clip: text;
color: transparent;*/
  color: black
}

#h2-4{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  /*background: linear-gradient(80deg, yellow, darkgreen);
-webkit-background-clip: text;
color: transparent;*/
  color: black
}

#paragraph{
  width: 70vw;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}


#sculpture{
  padding: 10px;
}
#Graphic{
  padding: 10px;
}
#Film{
  padding: 10px;
}
#About{
  padding: 10px;
}



hr{
  height: 3px;
  background-color: #303447;
  width: 20vw;
  margin-top: 20px;
  border: none;
}

.small-hr{
  width: 90px;
  border: solid blue;
  background-color: blue;
}



.gallery img:not(#portrait){
 width: 100%;
  max-width: 250px;
  height: 250px;
  padding: 10px;
  object-fit: cover;
  padding-top: 40px;
  margin: auto;
}


@media (max-width: 376px){
  .gallery img:not(#portrait){
  width: 100%;
  max-width: 130px;
  height: 130px;
  padding: 10px;
  object-fit: cover;
  padding-top: 40px;

    img:not(#portrait):hover{
  transform: scale(108%);
}
  }

img:not(#portrait):hover{
  transform: scale(108%);
}



.gallery:not(#portrait){
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#video{
  display: flex;
  margin: auto;
  width: 90%;
  aspect-ratio: 16 / 9;
  margin-top: 40px;
  border: solid black 5px;
  padding: 3px;
  max-width: 80vw;
}

.container{
  margin: 40px;
  width: 95%;
}

#portrait{
  float: left;
  max-width: 40%;
  margin-right: 20px;
}

#about-text{
 padding: 10px;
}

footer{
  font-size: 12px;
  font-family: monospace;
  text-align: center;
  color: blue;
 margin-bottom: 0px;
  padding-top: 40px;
}


button{
  display: flex;
  border: none;
  margin: auto;
  background-color: blue;
  padding: 20px;
  color: white;
}
