body{
  font-family: sans-serif;
}

#button-link{
  color: white;
  
}
button:hover{
  background-color: darkblue;
  transform: scale(0.9);
}

#header{
  z-index: 2;
  position: fixed;
  top: -6px;
  background-color: white;
  width: 100%;
  height: 30px;
  padding: 5px 4px 11px 8px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-top: 9px solid white;
  
}

.links:visited{
  color: black;
  text-decoration: none;
  
}
.links{
  text-decoration: none;
  padding: 10px;
  margin-bottom: -6px;
  color: black;
}

.links:hover{
  color: black;
  background-color: #F7EC88;
  text-decoration: none;
}

#h2-1{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  background: linear-gradient(80deg, yellow, darkgreen);
-webkit-background-clip: text;
color: transparent;
}

#h2-2{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  background: linear-gradient(80deg, red, lightblue);
-webkit-background-clip: text;
color: transparent;
}

#h2-3{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  background: linear-gradient(80deg, blue, lightblue);
-webkit-background-clip: text;
color: transparent;
}

#h2-4{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  background: linear-gradient(80deg, pink, purple);
-webkit-background-clip: text;
color: transparent;
}

#paragraph{
  width: 70vw;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}


#sculpture{
  padding: 10px;
}
#Graphic{
  padding: 10px;
}
#Film{
  padding: 10px;
}
#About{
  padding: 10px;
}



hr{
  border: 0;
  height: 0px;
   border: solid black 6px;
  background-color: transparent;
  width: 200px;
  margin-top: 20px;
}

.small-hr{
  width: 60px;
  border: dashed blue 6px;
  background-color: transparent;
  
}



.gallery img:not(#portrait){
 width: 100%;
  max-width: 250px;
  height: 250px;
  padding: 10px;
  object-fit: cover;
  padding-top: 40px;
}

img:not(#portrait):hover{
  filter: grayscale(0%);
  transform: scale(108%);
}

img:not(#portrait){
  filter:grayscale(0%);
}

.gallery:not(#portrait){
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#video{
  display: flex;
  margin: auto;
  width: 90%;
  aspect-ratio: 16 / 9;
  margin-top: 40px;
  border: solid black 5px;
  padding: 3px;
  max-width: 80vw;
}

.container{
  margin: 40px;
  width: 95%;
}

#portrait{
  float: left;
  max-width: 40%;
  margin-right: 20px;
}

#about-text{
 padding: 10px;
}

footer{
  font-size: 12px;
  font-family: monospace;
  text-align: center;
  color: blue;
 margin-bottom: 0px;
  padding-top: 40px;
}


button{
  display: flex;
  border: none;
  margin: auto;
  background-color: blue;
  padding: 20px;
  color: white;
}
